<h1 class="mb-4"> Doctors</h1>

<% @doctors.each do |doctor| %>
    <h2><%= doctor.name %></h2>

    <p>
        <%= doctor.description %>
    </p> 
    <%= link_to "Make an appointment", new_appointment_path, class:'btn btn-secondary' %>
    
<% end %>