<h1 class="mb-4"> Doctors</h1>

<% @doctors.each do |doctor| %>
  
    <h2><% if current_user %>
        <% link_to doctor.name, doctor_path(doctor) %></h2>
        <% else %>
        <% doctor.name %>
        <% end %>
        
        <p>
        <%= doctor.description %>
    </p> 
    <%= link_to "Make an appointment", new_appointment_path, class:'btn btn-secondary' %>
    
<% end %>



<style>
body {
   background-image: url('https://res.cloudinary.com/morkva123/image/upload/v1652367084/heart_bqf1qi.jpg');
}
</style>